.navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.dark_nav_bg {
  background-color: rgb(44, 39, 39);
}

.light_nav_bg {
  background-color: white;
}

.light_nav_item {
  color: white;
  font-weight: bold;
  font-size: 25px;
  list-style-type: none;
}

.dark_nav_items {
  color: black;
  font-size: 25px;
  font-weight: bold;
  list-style-type: none;
}

.ul_items_container {
  display: flex;
  align-items: center;
}

.website_logo {
  width: 90px;
  height: 80px;
}

.link_item {
  text-decoration: none;
  margin-right: 15px;
}

.theme_button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.theme_image {
  width: 60px;
  height: 60px;
}
